.Calculator{
    width: 60%;
    height: 641px;
    background-color: black;
    margin-left: 355px;
}
#display{
    width: 97%;
    margin: 2px;
    height: 20%;
    margin-left: 6px;
    pointer-events: none;
}    
.button{
    width: 140px;
    background-color: darkgrey;
    height: 100px;
    text-decoration: solid;
    font-size: larger;
    font-weight: bolder;
    

}
.buttonDiv{
    margin-left: 7px;
}