.Calculator{
    width: 39%;
    height: 670px;
    background-color: black;
    margin-left: 355px;
    border-radius: 15px;
}
#display{
    width: 98%;
    margin: 1px;
    height: 23%;
    margin-left: 3px;
    pointer-events: none;
    font-weight: bolder;
    border-radius: 12px;
    font-size: larger;
    background-color: azure;
}    
.button{
    width: 140px;
    background-color: darkgrey;
    height: 100px;
    text-decoration: solid;
    font-size: larger;
    font-weight: bolder;
    border-radius: 12px;
    cursor: pointer;



}
.button:hover{background-color:lightgray}
.button:active{
    transform:translateY(2px) ;
}
.buttonDiv{
    margin-left: 4px;
    margin-top: 4px;
}